/* boiler-plate */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* removing scorllbar */
body::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    background-color: var(--background-color);
}

/* select none */
body * {
    user-select: none;
}

::selection {
    background-color: var(--highlight-color);
}

/* cursor follower color */
.-your-color {
    color: var(--highlight-color);
}

/* variables */
:root {
    --highlight-color: #EB5939;
    --text-color: #B7AB98;
    --background-color: #0D0D0D;
    --width: 70%;
    --small-width: 60%;
}

/* highlight */
.highlight {
    color: var(--highlight-color);
}

/* fonts */
@font-face {
    font-family: "Avant";
    src: url("./fonts/AvantGarde/AvantGarde\ Demi.ttf");
}

@font-face {
    font-family: "Tsunagi";
    src: url("./fonts/tsunagi/TsunagiGothic.ttf");
}

/* main top container */
.main-top-container {
    position: relative;
    width: 100%;
}

/* ! trailer */
#trailer {
    position: fixed;
    height: 20px;
    width: 20px;
    background-color: #EB5939;
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    z-index: 1000;
    overflow: hidden;
}

/* ! nav-bar */
.main-container-nav {
    padding: 6rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

/* sticky navbar */
.navbar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Avant";
    color: var(--text-color);
    font-size: 25px;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    pointer-events: all;
}

.right-arrow-icon {
    width: 20px;
    height: 20px;
}

/* sticky icons */
.floating-socials-icons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 55px;
}

.social-icons {
    width: 48px;
    height: 48px;
    pointer-events: all;
}

.nav-link {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.nav-link::before,
.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.nav-link::before {
    background-color: var(--highlight-color);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-link::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: var(--highlight-color);
}

.nav-link:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.nav-link:hover::after {
    transform: translate3d(0, 0, 0);
}

.nav-link span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-link:hover span {
    transform: translate3d(-200%, 0, 0);
}

/* .float-nav-section-link::after {
    content: attr(data-value);
    position: absolute;
    inset: 0;
    transform: translateX(150%);
    opacity: 0%;
    transition: opacity 0.5s ease-in-out;
}

*/
/* .float-nav-section-link:hover::after {
    opacity: 100%;
    animation: movetext 1s ease-in-out 1 forwards;
}

@keyframes moveleft {
    0% {
        opacity: 0%;
        transform: translateX(150%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

.float-nav-section-link:hover {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: translateX(-150%);
    color: var(--highlight-color);
} */

/* ! true-text containers wrapper */
.true-text-main-container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
}

/* main padding container */
.main-container-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* landing-header */
.landing-section {
    display: flex;
    width: 100%;
    min-height: 100dvh;
    justify-content: center;
}

.landing-section-grid-container {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.video-main-container {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    min-width: 100%;
    min-height: 100%;
}

#main-landing-video {
    min-width: 100vw;
    max-height: 100vh;
    object-fit: fill;
}

.landing-container {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.name-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
}

.name-katakana {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    letter-spacing: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 110px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--highlight-color);
    opacity: 25%;
}

.name-english {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 8px;
}

.landing-body-container {
    justify-self: center;
    align-self: center;
    font-family: "Avant", sans-serif;
    font-size: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* about section */
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--width);
    min-height: 100dvh;
    padding: 1rem 0;
    gap: 1rem;
}

.section-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    font-family: "Avant", sans-serif;
    font-size: 25px;
    letter-spacing: 12px;
}

.section-japanese-heading {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.7px var(--highlight-color);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
}

.about-section-body-content {
    font-family: "Avant";
    font-size: 100px;
}

/* work section */
.work-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--width);
    min-height: 100dvh;
    padding: 1rem 0;
    gap: 1rem;
}

.projects-container {
    font-family: "Avant";
    font-size: 130px;
    height: 100%;
}

.projects-container-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.project-container {
    position: relative;
    display: flex;
    align-items: center;
    transition: color 0.5s ease-in-out;
    border-bottom: 3px var(--text-color) solid;
}

.project-container::before {
    content: "";
    position: absolute;
    color: var(--background-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    opacity: 0%;
    background-color: var(--highlight-color);
    transition: width 1s ease-in-out;
}

.project-container-content {
    position: relative;
    z-index: 3;
}

.emoji-base-work-hidden::after {
    position: absolute;
    content: "A website which contains emojis and its descriptions.";
    bottom: 50%;
    right: 0;
    transform: translate(-2%, 50%);
    color: var(--background-color);
    font-size: 20px;
}

.blogging-work-hidden::after {
    position: absolute;
    content: "A website developed by me for writing blogs.";
    bottom: 50%;
    right: 0;
    transform: translate(-2%, 50%);
    color: var(--background-color);
    font-size: 20px;
}

.github-work-hidden::after {
    position: absolute;
    content: "Sleek rock, paper & scissors game.";
    bottom: 50%;
    right: 0;
    transform: translate(-2%, 50%);
    color: var(--background-color);
    font-size: 20px;
}

.project-container:hover::before {
    opacity: 100%;
    width: 100%;
}

.project-container:hover {
    color: var(--background-color);
}


/* technology section */
.technology-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--width);
    min-height: 100vh;
    padding: 1rem 0;
    gap: 2rem;
}

.technologies-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: "Avant", sans-serif;
    font-size: 130px;
}

.tech-container {
    position: relative;
}

.tech-footer-container {
    display: flex;
    justify-content: end;
    font-family: "Avant", sans-serif;
    color: var(--highlight-color);
    font-size: 40px;
}

/* languages section */
.languages-section {
    position: relative;
    font-family: "Avant";
    background-color: var(--highlight-color);
    width: 100%;
    min-height: 450px;
    overflow: hidden;
    text-align: center;
    padding-top: 1rem;
}

.skills-header {
    font-size: 40px;
    color: var(--background-color);
}

.skills-text {
    position: absolute;
    white-space: nowrap;
    font-size: 100px;
}

.skill-text-left {
    left: 0;
    top: 6rem;
    animation: moveleft 30s linear infinite;
}

.skill-text-right {
    right: 0;
    top: 16rem;
    color: var(--background-color);
    animation: moveright 30s linear infinite;
}

@keyframes moveleft {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes moveright {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(50%, 0, 0);
    }
}

/* faq section */
.faq-section-main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--width);
    min-height: 100dvh;
    padding: 3rem 0;
    gap: 2rem;
}

.faq-questions-container {
    font-family: "Avant", sans-serif;
    font-size: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.question {
    position: relative;
    border-bottom: 3px solid var(--text-color);
    padding-bottom: 2rem;
}

.question-header {
    cursor: pointer;
    width: auto;
    height: fit-content;
}

.question-wrap {
    display: grid;
    align-items: center;
    grid-template-columns: 100px max-content;
    grid-template-rows: 1fr;
}

.question-status {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 3px solid var(--text-color);
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.question-answer {
    padding-left: 100px;
    padding-top: 1rem;
    display: grid;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.2s ease-in-out;
    display: none;
}

.open .question-answer {
    display: block;
    transition: all 1s ease-in-out;
}

.open .question-status {
    background-color: var(--highlight-color);
    transition: all 0.5s ease-in-out;
}

/* contact me section */
a {
    color: var(--text-color);
    text-decoration: none;
}

.contact-section-main-container {
    width: var(--width);
}

.contact-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3rem 0rem;
    gap: 3rem;
    font-family: "Avant", sans-serif;
    font-size: 70px;
}

.instagram-container-contact {
    position: relative;
    grid-row-start: 2;
    grid-row-end: 3;
}

.linkedin-container-contact {
    position: relative;
}

.blog-container-contact {
    position: relative;
}

.github-container-contact {
    position: relative;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.contact-pseudo::after {
    content: "";
    display: inline;
    position: absolute;
    height: 10%;
    width: 0%;
    background-color: var(--highlight-color);
    font-size: 40px;
    left: 0;
    bottom: 0;
    opacity: 0%;
    transition: opacity 1s ease-in-out;
}

.contact-pseudo:hover::after {
    opacity: 100%;
    width: 100%;
}

.email-container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 10px;
}

.email-details {
    font-size: 30px;
}

/* ! overlay */
.overlay-text-main-container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: circle(400px at var(--x, -50%) var(--y, -50%));
    transition: clip-path 100ms;
    z-index: 5;
    pointer-events: none;
}

.main-container-padding-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    background-color: var(--highlight-color);
    color: var(--background-color);
}

.name-katakana-overlay {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    letter-spacing: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 110px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--background-color);
    opacity: 25%;
}

.section-japanese-heading-overlay {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px var(--background-color);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
}

/* project section */
.project-container-overlay {
    display: flex;
    align-items: center;
    border-bottom: 3px var(--background-color) solid;
}

/* languages section */
.languages-section-overlay {
    position: relative;
    font-family: "Avant";
    background-color: var(--background-color);
    width: 100%;
    min-height: 450px;
    overflow: hidden;
    text-align: center;
    padding-top: 1rem;
}

.skills-header-overlay {
    font-size: 40px;
    color: var(--text-color);
}

.skill-text-left-overlay {
    left: 0;
    color: var(--highlight-color);
    top: 6rem;
    animation: moveleft 30s linear infinite;
}

.skill-text-right-overlay {
    right: 0;
    top: 16rem;
    color: var(--highlight-color);
    animation: moveright 30s linear infinite;
}

/* question section */
.question-overlay {
    position: relative;
    border-bottom: 3px solid var(--background-color);
    padding-bottom: 2rem;
}

.question-status-overlay {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 3px solid var(--background-color);
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.text-color-change {
    color: var(--background-color);
}

/* ! MEDIA QUERY */

/* ! laptops */
@media (min-width: 1025px) and (max-width: 1280px) {

    /* ! true text content */
    /* main hero section */
    .name-katakana {
        font-size: 80px;
    }

    .name-english {
        font-size: 30px;
        letter-spacing: 8px;
    }

    .landing-body-container {
        font-size: 110px;
    }

    /* about section */
    .section-japanese-heading {
        font-size: 35px;
    }

    .about-section-body-content {
        font-size: 85px;
    }

    /* work section */
    .projects-container {
        font-size: 90px;
    }

    .work-section {
        width: var(--width);
    }

    .project-container {
        width: 90%;
    }

    /* technology section */
    .technologies-container {
        font-size: 100px;
    }

    .tech-footer-container {
        width: 90%;
        font-size: 30px;
    }

    /* languages section */
    .faq-questions-container {
        font-size: 40px;
    }

    .question {
        width: 90%;
    }

    /* contact me section */
    .contact-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 3rem 0rem;
        gap: 3rem;
        font-family: "Avant", sans-serif;
        font-size: 70px;
    }

    .email {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 10px;
    }

    .email-details {
        font-size: 30px;
    }
}